<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dhllabel" translate="label" type="text" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>DHL Shipping Labels</label>
            <tab>sales</tab>
            <resource>Infomodus_Dhllabel::config_dhllabel</resource>
            <group id="checker" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Checker</label>
                <frontend_model>Infomodus\Dhllabel\Block\Adminhtml\System\Config\Fieldset\Checker</frontend_model>
            </group>
            <group id="credentials" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Your DHL Account Credentials</label>
                <field id="userid" translate="label comment" type="password" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Site Id</label>
                    <comment>Required field</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="password" translate="label comment" type="password" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <comment>Required field</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="shippernumber" translate="label comment" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Billing Shipper Number</label>
                    <comment>Required field</comment>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="testmode" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Test Mode</label>
                <field id="testing" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="packaging" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Packaging Settings</label>
                <field id="packagingtypecode" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Packaging Type Code</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Dhlpackagecode</source_model>
                </field>
                <field id="frontend_multipackes_enable" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create packages for each Product in an Order?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="packages_by_attribute_enable" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create packages by product attribute?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="packages_by_attribute_code" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                    <depends>
                        <field id="packages_by_attribute_enable">1</field>
                    </depends>
                </field>
                <field id="product_without_box" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Select Attribute for Individual Shipping</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                </field>
                <field id="multipackes_attribute_width" translate="label" type="select" sortOrder="700"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute for product width</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                </field>
                <field id="multipackes_attribute_height" translate="label" type="select" sortOrder="800"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute for product height</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                </field>
                <field id="multipackes_attribute_length" translate="label" type="select" sortOrder="900"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute for product length</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                </field>
            </group>
            <group id="shipping" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Shipping Settings</label>
                <field id="regioncode" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region Code</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Dhlregioncode</source_model>
                </field>
                <field id="defaultshipmentmethod" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Method for Domestic</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Dhlmethod</source_model>
                </field>
                <field id="defaultshipmentmethodworld" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Method for International</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Dhlmethod</source_model>
                </field>
                <field id="defaultshipmentmethod_eu" translate="label" type="select" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Method for intra-EU</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Dhlmethod</source_model>
                </field>
                <field id="shipping_method_native" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use the compliance of methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="button_method_native" translate="label" type="button" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manage compliance of methods</label>
                    <frontend_model>Infomodus\Dhllabel\Model\Config\ShippingSettingsLink</frontend_model>
                    <depends>
                        <field id="shipping_method_native">1</field>
                    </depends>
                </field>
                <field id="shipmentdescription" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping description</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Shipdesc</source_model>
                </field>
                <field id="shipmentdescription_custom" translate="label" type="textarea" sortOrder="450" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description custom value</label>
                    <depends>
                        <field id="shipmentdescription">5</field>
                    </depends>
                </field>
                <field id="defaultshipper" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipper address</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Defaultaddress</source_model>
                </field>

                <field id="reference_id" translate="label" type="select" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reference ID</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Referenceid</source_model>
                </field>
                <field id="addtrack" translate="label" type="select" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add tracking number automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="track_send" translate="label" type="select" sortOrder="810" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send tracking number on customer email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="addtrack">1</field>
                    </depends>
                </field>
                <field id="dangerous_goods" translate="label" type="select" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dangerous Goods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="dg_attribute_content_id" translate="label" type="select" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute for Dangerous Goods Content ID</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                    <comment>Required field</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="dangerous_goods">1</field>
                    </depends>
                </field>
                <field id="dg_attribute_label" translate="label" type="select" sortOrder="1100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute for Dangerous Label</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                    <depends>
                        <field id="dangerous_goods">1</field>
                    </depends>
                </field>
                <field id="dg_attribute_uncode" translate="label" type="select" sortOrder="1100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute for Dangerous UNCode</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                    <depends>
                        <field id="dangerous_goods">1</field>
                    </depends>
                </field>
            </group>
            <group id="return" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Return Labels</label>
                <field id="frontend_customer_return" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Printing "Return label" by customer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="refundaccess" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Refund</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="frontend_customer_return">1</field>
                    </depends>
                </field>
                <field id="refundaccess_admin_email" translate="label" type="select" sortOrder="250" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send Emails To</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="frontend_customer_return">1</field>
                        <field id="refundaccess">1</field>
                    </depends>
                </field>
                <field id="refundaccess_email_template" translate="label comment" type="select" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="frontend_customer_return">1</field>
                        <field id="refundaccess">1</field>
                    </depends>
                </field>
                <field id="default_return" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create return label by default</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_return_amount" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order amount for default return label, from</label>
                </field>
                <field id="default_return_method" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default shipping method for return labels</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Dhlmethod</source_model>
                </field>
                <field id="return_time_old" translate="label" type="select" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Retention period</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Retention</source_model>
                </field>
                <field id="shipperid" translate="label" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Domestic Returns Shipper Number</label>
                </field>
                <field id="shipperid_international" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>International Returns Shipper Number</label>
                </field>
            </group>
            <group id="weightdimension" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Weight and Dimensions</label>
                <field id="weightunits" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Weight units</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Weight</source_model>
                </field>
                <field id="defweigth" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default weight</label>
                </field>
                <field id="packweight" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pack weight</label>
                </field>
                <field id="unitofmeasurement" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default unit of dimensions</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Unitofmeasurement</source_model>
                </field>
            </group>
            <group id="ratepayment" translate="label" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Rates and Payments</label>
                <field id="third_party" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payer</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\Methodofpayment</source_model>
                </field>
                <field id="third_party_of_duty" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payer of duty and taxes</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\MethodPaymentOfDuty</source_model>
                </field>
                <field id="currencycode" translate="label comment" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Currency code</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Currency\All</source_model>
                    <comment>Required field</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="cod" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>COD (default)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="insured" translate="label" type="select" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Insured</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="vat_number_norway" translate="label" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>VAT/Tax ID</label>
                </field>
                <field id="consignee_vat_number" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Consignee VAT/Tax ID (EIN)</label>
                </field>
                <field id="eori_number" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>EORI Number</label>
                </field>
            </group>
            <group id="quantum" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Notification</label>
                <field id="qvn" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="qvn_email_shipper" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipper Email</label>
                </field>
                <field id="qvn_message" translate="label" type="textarea" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Message</label>
                </field>
            </group>
            <group id="printing" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Printing Settings</label>
                <field id="printer" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Print Type</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\PrintType</source_model>
                </field>
                <field id="printer_name" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name of printer</label>
                    <validate>required-entry</validate>
                    <comment>If you use more than one printer, enter them separated by commas</comment>
                    <depends>
                        <field id="printer" negative="1">PDF</field>
                    </depends>
                </field>
                <field id="printer_format_pdf" translate="label comment" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Format</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\PrintFormatPdf</source_model>
                    <depends>
                        <field id="printer">PDF</field>
                    </depends>
                </field>
                <field id="printer_format_thermal" translate="label comment" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Format</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\PrintFormatThermal</source_model>
                    <depends>
                        <field id="printer" negative="1">PDF</field>
                    </depends>
                </field>
                <field id="archive" translate="label comment" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Archive doc</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="printer_refund" translate="label comment" type="select" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Print Type for Return Label</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\PrintType</source_model>
                </field>
                <field id="printer_format_pdf_refund" translate="label comment" type="select" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Format for Return Label</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\PrintFormatPdf</source_model>
                    <depends>
                        <field id="printer_refund">PDF</field>
                    </depends>
                </field>
                <field id="printer_format_thermal_refund" translate="label comment" type="select" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Format for Return Label</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\PrintFormatThermal</source_model>
                    <depends>
                        <field id="printer_refund" negative="1">PDF</field>
                    </depends>
                </field>
                <field id="dpi" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Resolution</label>
                    <comment>allowed values are from 200 to 300 dpi</comment>
                </field>
            </group>
            <group id="paperless" translate="label" type="text" sortOrder="2600" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>International invoice</label>
                <field id="type" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paperless invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="create_pdf" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create Invoice PDF</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="invoice_type" translate="label" type="select" sortOrder="151" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice Type</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\InvoiceType</source_model>
                </field>
                <field id="attribute_product_name_1" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute for Product Description</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                </field>
                <field id="commodity_attribute" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute for Commodity code</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\ProductAttributes</source_model>
                </field>
                <field id="terms_of_trade" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Terms of trade</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\TermsOfTrade</source_model>
                </field>
                <field id="signature" translate="label comment" type="image" sortOrder="400" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Signature</label>
                    <comment>Your image must be in either the GIF, JPG or PNG format. The maximum size is 1 MB.</comment>
                    <backend_model>Infomodus\Dhllabel\Model\Config\ImageUploader</backend_model>
                    <base_url type="media" scope_info="1">dhllabel</base_url>
                </field>
                <field id="signature_name" translate="label comment" type="text" sortOrder="450" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Signature Name</label>
                    <comment>The SignatureName element contains the Signatory’s name. It is an optional element. Max length is 35 symbols</comment>
                </field>
                <field id="signature_title" translate="label comment" type="text" sortOrder="450" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Signature Title</label>
                    <comment>The SignatureTitle element contains the Signatory’s title. It is an optional element. Max length is 35 symbols</comment>
                </field>
                <field id="place_of_incoterm" translate="label comment" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Place Of Incoterm</label>
                    <comment>Name of port of departure, shipment or destination, as required under the applicable delivery term.</comment>
                </field>
            </group>
            <group id="frontend_autocreate_label" translate="label" type="text" sortOrder="2700" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Automatic labels creation</label>
                <field id="frontend_order_autocreate_label_enable" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apply_to" translate="label" type="multiselect" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create labels for Shipping Methods</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\FrontShippingMethod</source_model>
                    <comment>Required field</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="frontend_order_autocreate_label_enable">1</field>
                    </depends>
                </field>
                <field id="orderstatus" translate="label" type="multiselect" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create labels for Orders Statuses</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\OrderStatuses</source_model>
                    <comment>Required field</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="frontend_order_autocreate_label_enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="bulk_create_labels" translate="label" type="text" sortOrder="2800" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings for bulk labels creation</label>
                <comment>
                    <![CDATA[<b>To create labels for many orders simultaneously:</b><br>
                        On the order's page select all orders you want to create labels.<br>
                        Then in Actions select "Create DHL labels for orders" and click Submit.<br>
                        Labels will be created for selected orders in accordance with these settings.<br><br>]]>
                </comment>
                <field id="bulk_shipping_methods" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create labels for Shipping Methods</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\BulkSpecifyTypes</source_model>
                </field>
                <field id="apply_to" translate="label" type="multiselect" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Specify Shipping Methods</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\FrontShippingMethod</source_model>
                    <comment>Required field</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="bulk_shipping_methods">specify</field>
                    </depends>
                </field>
                <field id="bulk_order_status" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create labels for Order Statuses</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\BulkSpecifyTypes</source_model>
                </field>
                <field id="orderstatus" translate="label" type="multiselect" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Specify Order Statuses</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\OrderStatuses</source_model>
                    <comment>Required field</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="bulk_order_status">specify</field>
                    </depends>
                </field>
            </group>
            <group id="additional_settings" translate="label" type="text" sortOrder="2900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Additional settings</label>
                <field id="orderstatuses" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order status after label creation</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\OrderCustomStatuses</source_model>
                </field>
                <field id="multiple_pdf_label" translate="label" type="select" sortOrder="600" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Number of copies of the label</label>
                    <source_model>Infomodus\Dhllabel\Model\Config\CopyLabels</source_model>
                </field>
                <field id="umlaut" translate="label" type="select" sortOrder="700" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Umlauts transformation in Latin characters</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>