<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <general>
                <reference_id>~421   01-6303964-3</reference_id>
                <company_name>Hassan Raza S/O Sarkar Hussain</company_name>
            </general>
        </general>
    </default>
</config>
