<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\TargetRule\Model\Rule">
        <plugin name="rltsquare_relatedproductfix_getmatchingproductids_Plugin" type="RLTSquare\RelatedProductFix\Plugin\GetMatchingProductIdsPlugin" sortOrder="10"/>
    </type>
</config>
