<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Search\Model\ResourceModel\Query\Collection" type="RLTSquare\SearchLimit\Model\ResourceModel\Query\Collection" />
</config>
