<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="currency" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Magento_Config::currency</resource>
            <group id="converter" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Free Currenc Api Key</label>
                <field id="api" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Currency Api Key</label>
                    <comment>
                        <![CDATA[This api key is used to fetch current currency for store.]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
